@charset "UTF-8";
a {
	color: #434343;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #ff9900;
}

img,
button {
	cursor: pointer;
}

img:hover,
button:hover {
	-webkit-filter: brightness(1.1);
	filter: brightness(1.1);
}

i {
	display: block;
	background-repeat: no-repeat;
	cursor: pointer;
}

li {
	float: left;
}

input:focus {
	outline: none;
}

body {
	font-family: "微软雅黑 Regular", "微软雅黑";
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: #333333;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.nav> ul> li:nth-child(2) {
	width: 1010px;
	float: right;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2) {
	width: 100%;
	height: 32px;
	margin-top: 32px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(1) {
	width: 597px;
	height: 100%;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(1)> ol {
	width: 100%;
	height: 100%;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(1)> ol> li {
	width: 102px;
	height: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(1)> ol> li> span {
	color: #FF9900;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2) {
	width: 403px;
	height: 100%;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol {
	width: 100%;
	height: 82%;
	margin-top: 6px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol> li {
	width: 33px;
	height: 19px;
	margin-right: 5px;
	border: 1px solid #acacac;
	text-align: center;
	line-height: 19px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol> li:nth-child(3) {
	border: 0;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol> li:last-child {
	border: 0;
	margin-left: 18px;
	width: 180px;
	height: 22px;
	border-radius: 10px;
	border: 1px solid #acacac;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol> li:last-child> form {
	width: 100%;
	height: 100%;
	position: relative;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol> li:last-child> form> input {
	width: 131px;
	height: 20px;
	border: 0;
	outline: medium;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #acacac;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(2)> ol> li:last-child> form> label {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-image: url('/images/fdj.png?1482456383');
	position: absolute;
	right: 12px;
	top: 4px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3) {
	width: 100%;
	height: 38px;
	border-top: 1px solid #0094D9;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol {
	margin-top: 11px;
	margin-left: 144px;
	height: 27px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li {
	height: 100%;
	width: 86px;
	text-align: center;
	line-height: 27px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li:nth-child(1) {
	width: 260px;
	text-align: left;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li:nth-child(2) {
	width: 78px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li:nth-child(3) {
	width: 85px;
	margin-right: 26px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li:nth-child(4) {
	width: 140px;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li:nth-child(5) {
	width: 132px;
	text-align: left;
}

.nav> ul> li:nth-child(2)> ul:nth-child(2)> li:nth-child(3)> ol> li:nth-child(6) {
	width: 145px;
	text-align: left;
}

.treat_money_returnorder_orli {
	width: 100%;
	border-top: 0;
	background: white;
	padding-top: 10px;
}

.treat_money_returnorder_orli> ol {
	width: 970px;
	min-height: 100px;
	margin: 0 auto;
	margin-top: 10px;
	/* margin-top: 20px; */
	border: 1px solid #e5e5e5;
}

.treat_money_returnorder_orli> ol> li:nth-child(1) {
	width: 968px;
	height: 34px;
	line-height: 34px;
	text-indent: 20px;
}

.treat_money_returnorder_orli> ol> li:nth-child(1)> span {
	font-weight: 400;
	margin-left: 31px;
	margin-right: 13px;
	float: right;
	color: #999;
}

.treat_money_returnorder_orli> ol .treat_money_more {
	width: 100%;
}

.treat_money_returnorder_orli> ol .treat_money_more ul,
.nav> ul> li:nth-child(2)> ul:nth-child(2) .treat_money_returnorder_orli> ol .treat_money_more ol {
	float: left;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul {
	width: 614px;
	height: 100%;
	border-top: 1px solid rgba(215, 215, 215, 1);
	position: relative;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul:nth-child(1) {
	border-bottom: 0;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul:last-child {
	border-bottom: 1px solid rgba(215, 215, 215, 1);
	background: red;
	margin-bottom: 20px;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul> li {
	height: 100px;
	line-height: 30px;
	text-align: center;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(1) {
	width: 80px;
	margin-left: 20px;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(1)>a> img {
	width: 80px;
	    height: 80px;
	margin-top: 10px;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(2) {
	width: 299px;
	line-height: 20px;
	text-align: left;
	border-right: 1px solid #e5e5e5;
}
.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(2)>span{
  width: 15px;
  margin-right: 5px;
  position: absolute;
  top: 7px;
}
.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(2)>span>img{
  width: 100%;
  height: 100%;
}
.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(2)>a {
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #333333;
	letter-spacing: 1.02px;
	line-height: 20px;
	margin-top: 6px;
	display: block;
	margin-left: 20px;
	margin-right: 10px;
}
.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(2)>P{
	    margin-left: 20px;
}
.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(3) {
	text-align: center;
	width: 114px;
	line-height: 100px;
	border-right: 1px solid #e5e5e5;
}

.treat_money_returnorder_orli> ol .treat_money_more> ul> li:nth-child(4) {
	width: 99px;
	line-height: 100px;
}
.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay {
	width: 355px;
	height: 100px;
	border: 1px solid rgba(215, 215, 215, 1);
	float: right;
	border-right: 0;
	border-bottom: 0;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li {
	height: 100%;
	text-align: center;
	font-size: 12px;
	border-right: 1px solid #E5E5E5;
	line-height: 100px;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li:nth-child(1) {
	width: 125px;
	text-align: center;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li:nth-child(2) {
	width: 113px;
	text-align: center;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li:nth-child(3) {
	width: 114px;
	text-align: center;
	line-height: 30px;
	padding-top: 34px;
	height: 66%;
	border: 0;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li:nth-child(3)>a {
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #333333;
	letter-spacing: 1.02px;
}
.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li:nth-child(3)>a:hover{
	color: #ff9900;
}

/*.treat_money_order > ol .treat_money_more .treat_money_pay > li:nth-child(3) > button {
  width: 100px;
  height: 29px;
  background: #FF9900;
  color: white;
  font-size: 19px;
  border: 0;
  outline: medium;
}*/

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay> li> p {
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #999999;
	letter-spacing: 1.02px;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay #treat_money_button_qr> button {
	background: #0094D9;
}

.treat_money_returnorder_orli> ol .treat_money_more .treat_money_pay #treat_money_button_sh> button {
	width: 100px;
	height: 29px;
	background: white;
	color: white;
	font-size: 19px;
	border: 0;
	outline: medium;
}

.treat_money_one {
	margin-top: 24px;
}

.myorder_ula {
	width: 100%;
	height: 32px;
	margin-top: 20px;
}

.myorder_ul {
	width: 416px;
	height: 100%;
}

.myorder_ul> ol {
	width: 100%;
	height: 100%;
}

.myorder_ul> ol> li {
	width: 102px;
	height: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	cursor: pointer;
}

/*.blueBottom {
	background: #0094D9;
	color: white;
}*/

.noneBottom {
	border-bottom: none;
}

.orderreturn_fist_border {
	border: 1px solid rgba(215, 215, 215, 1);
	border-bottom: 0;
}

.myorder_ul> ol> li> span {
	color: #FF9900;
}

.myorder_fla {
	float: left;
	border-bottom: 1px solid #0094D9;
}

.myorder_ul>ol>li {
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}

.myorder_ul>ol>li:nth-child(1) {
	border-left: 1px solid #eee;
}

.myorde_time {
	height: 100%;
	width: 594px;
}

.myorde_time>ol {
	margin-top: 5px;
	margin-left: 163px;
	height: 26px;
}

.myorde_time>ol>li {
	width: 83px;
	height: 19px;
	border: 1px solid rgba(215, 215, 215, 1);
	margin-right: 20px;
}

.myorde_time>ol>li:nth-child(2) {
	width: 10px;
	border: 0;
	line-height: 19px;
	text-align: center;
}

.myorde_time>ol>li:nth-child(4) {
	width: 144px;
	position: relative;
}

.myorde_time>ol>li:nth-child(4) input {
	width: 110px;
	margin-right: 0;
	border: 0;
	outline: medium;
	float: left;
	text-indent: -24px;
	border-right: 1px solid rgba(215, 215, 215, 1);
	/* margin-left: 7px; */
	height: 90%;
	text-align: left;
	text-indent: 10px;
}

.myorde_time>ol>li:nth-child(4) input,
.myorde_time>ol>li:nth-child(4) div {
	float: left;
}

.myorde_time>ol>li>input {
	border: 0;
	outline: medium;
	width: 100%;
	height: 91%;
	text-align: center;
}

.myorde_time>ol>li:nth-child(4) .search-button {
	width: 31px;
	height: 100%;
}

.myorde_time>ol>li:nth-child(4) .search-button>span {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url("/images/fdj.png");
	background-repeat: no-repeat;
	background-position: 8px 2px;
}

.btnorange {
	width: 100px;
	height: 29px;
	background: #FF9901;
	color: white;
	font-size: 19px;
	border: 0;
	outline: medium;
}

.btnblue {
	width: 100px;
	height: 29px;
	background: #0094D9;
	color: white;
	font-size: 19px;
	border: 0;
	outline: medium;
}

.spanblank {
	width: 100px;
	height: 29px;
	background: white;
	color: #A1A1A1;
	font-size: 19px;
	border: 0;
	outline: medium;
}

.cancle_apply {
	width: 70px;
	height: 20px;
	background: #00A2D9;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1.02px;
	border: 0;
	outline: medium;
	outline: medium;
}

.goods_lsit_mar {
	margin-bottom: 10px;
}

.paging {
	position: relative;
	width: 1009px;
	height: 53px;
	margin-top: 30px;
	margin-left: 0;
	background: white;
}
