<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<div class="col-lg-6">
			<ol class="breadcrumb">
				<!-- <li class="active"><strong>文章分类管理</strong></li> -->
			</ol>
		</div>
		<div class="col-lg-6">
			<!-- 刷新按钮 -->
			<button type="button" class="btn btn-success pull-right"
				ng-click="loadTree()">
				<span class="glyphicon glyphicon-refresh"></span> 刷新
			</button>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ">
	<div class="row marLeft15">
		<div class="col-lg-12 ">
			<div class="ibox-content col-xs-12">
				<div class="col-xs-3 ">
					<div class="ibox-content treeView">
						<label style="font-size:16px;margin-bottom:10px;color:#f8ac59">文章分类</label>
						<div js-tree="treeConfig" ng-model="treeData" tree="treeInstance" tree-events="ready:readyCB;click:nodeclickCB"></div>
					</div>
				</div>
				<div class="col-xs-1">
					<!-- <button class="btn btn-warning"  style="margin-bottom:10px;" ng-click = "editArticlesType()">修改分类信息</button> -->
					<button class="btn btn-success"  style="margin-bottom:10px;" ng-click = "addFriendArticlesType()">添加同级分类</button>
					<button id="disabledShow" class="btn btn-success {{btnDisabled}}" ng-disabled="ableShow" ng-click = "addSonArticlesType()">添加子级分类</button>
				</div>


				<div class="col-xs-7" ng-show="isShowEdit" verify-scope="tipStyle: 1" style="margin-left: 40px;">
					<ul class="form-horizontal horizontal1">
						<li class="list-group-item">
							<div class="form-group">
							    <label class="col-xs-3 control-label">父节点：</label>
							    <div class="col-xs-7">
							      <input readonly=false type="text" ng-model="parentName" class="form-control" >
							    </div>
							</div>
							<div class="form-group">
							    <label class="col-xs-3 control-label">分类名（*）：</label>
							    <div class="col-xs-7">
							      <input ng-verify="required:true" type="text" class="form-control" ng-model="currentNodeName">
							    </div>
							</div>
							<div class="form-group">
							    <label class="col-xs-3 control-label">排序：</label>
							    <div class="col-xs-7">
							      <input ng-verify="required:false" type="text" ng-model="sort" class="form-control"   >
							    </div>
							</div>
							<div class="form-group">
							    <label class="col-xs-3 control-label">状态（*）：</label>
							    <div class="col-xs-7">
							    	<div class="form-group">
									    <label   class="radio-inline">
									      <input type="radio" ng-model="status" ng-value = "1" name="status">&nbsp;正常&nbsp;
							    		</label>
									    <label  class="radio-inline">
									      <input type="radio" ng-model="status" ng-value = "0" name="status">&nbsp;禁用&nbsp;
							      		</label>
									  </div>
							    </div>
							</div>
							<div class="form-group" ng-if="isShowBtn">
							 	<label class="col-xs-3 control-label"></label>
								<button class="btn btn-warning" ng-click="saveEditNode()" ng-verify="{control:'myform'}">保存</button>
								<button class="btn btn-success" ng-click="cancleSave()">取消</button>
							</div>
							<div class="form-group" ng-if="isShowBtn1">
								<label class="col-xs-3 control-label"></label>
								<button class="btn btn-warning" ng-click="saveAddFriendNode()" ng-verify="{control:'myform'}">保存</button>
								<button class="btn btn-success" ng-click="cancleSave()">取消</button>
							</div>
							<div class="form-group" ng-if="isShowBtn2">
								<label class="col-xs-3 control-label"></label>
								<button class="btn btn-warning" ng-click="saveAddSonNode()" ng-verify="{control:'myform'}">保存</button>
								<button class="btn btn-success" ng-click="cancleSave()">取消</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<!-- 提示框 -->
<script type="text/ng-template" id="modalDialogId">
    <div class="ngdialog-message">
        <h3>提示信息</h3>
        <p ng-model="MessageInfo"></p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">确认</button>
    </div>
</script>
