#address_head_li{
	width: 15.2%;
    height: 80%;
    margin: 0;
    position: absolute;
    right:0;
    top: 8px;
    border-left: 1px solid #eee;
}
#address_head_li>a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
#address_head_li>a>img{
	width: 1.166rem;
	height: 1.166rem;
	margin-top: 1.158rem;
}
#address_head_li>a>p{
	width: 100%;
	text-align: center;
}
.address_conter_div{
	margin: 0 !important;
	margin-bottom: 1px;
}
.address_conter{
	width: 100%;
	margin-top: 0.416rem;
}
.address_conter_head{
	width: 100%;
	height: 3.667rem;
	font-family: MicrosoftYaHei;
	font-size: 1rem;
	color: #999999;
	letter-spacing: 1px;
	line-height: 3.667rem;
	text-indent: 0.833rem;
}
.addres_button{
	width: 100%;
	height:3.667rem ;
	margin-top: 4.75rem;
}
.addres_button>button{
	width: 82.9%;
    height: 100%;
    border: 0;
    outline: medium;
    background-image: linear-gradient(-90deg, #22A2FF 0%, #1ACEFF 100%);
    border-radius: 4px;
    font-family: MicrosoftYaHei;
    font-size: 1.166rem;
    color: #FFFFFF;
    letter-spacing: 1.17px;
    display: block;
    margin: 0 auto;
}
.address_colr{
	color: #999999 !important;
}
