
.apply_order_orderid{
	    width: 100%;
    height: 3.33rem;
}
.apply_order_orderid>a{
	font-family: MicrosoftYaHei;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 2.57px;
    margin-left: 0.833rem;
    line-height: 3.33rem;
}
#apply_xq{
    width: 71%;
    text-align: center;
    line-height: 3.66rem;
    font-family: MicrosoftYaHei;
    font-size: 1.5rem;
    color: #333333;
    letter-spacing: 0.15px;
}
#apply_bj>button{
	border: 0;
	outline: medium;
	background: #FFFFFF;
	display: block;
    font-family: MicrosoftYaHei;
    font-size: 1rem;
    color: #333;
    letter-spacing: 0.1px;
    line-height: 3.68rem;
    /* margin-left: 0.875rem; */
	
}
.apply_conter_ul{
	width: 100%;
	margin-top: 0.416rem;
}
.apply_conter_ul_li{
	border-bottom: 1px solid #EEEEEE;
}
.bill_fapiao>a>label>b{
	color: #FF3F39
}
.apply_conter_ul_li_marg{
	margin-top: 0.416rem;
}
.apply_conter_ul_if{
	width: 96%;
    height: 4.583rem;
    line-height: 4.583rem;
    margin-left: 0.833rem;
    font-family: MicrosoftYaHei;
	font-size: 1rem;
	color: #999999;
}
.bill_fapiao>a>div{
	float: left;
	height: 100%;
	min-width: 10.667rem;
	max-width:70% ;
	height: 100%;
	margin-left: 0.833rem;
}
.bill_fapiao>a>div>span:nth-child(1){
	display: block;
	width: 100%;
	height: 77%;
	text-align: left;
	margin-top: 1.166rem;
	font-family: MicrosoftYaHei;
	font-size: 1rem;
	color: #333333;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: left;
}
.apply_adress{
	   width: 100%;
    background: #FFFFFF;
    /* margin-top: 0.416rem; */
    line-height: 4.583rem;
}
.apply_adress>a>label{
	display: block;
    height: 100%;
    line-height: 4.667rem;
    margin-left: 0.8333rem;
    display: block;
    margin-left: 0.8333rem;
    font-family: MicrosoftYaHei;
    font-size: 1rem;
    color: #999999;
    letter-spacing: 0.8px;
}
.apply_adress>a>label>b {
    color: #FF3F39;
}
.apply_adress>a>label,.apply_adress>a>div{
	float: left;
}
.apply_adress>a>div {
    float: left;
    height: 100%;
    min-width: 10.667rem;
    max-width: 70%;
    height: 100%;
    margin-left: 0.833rem;
}
.apply_adress>a>div>span:nth-child(1) {
    display: block;
    width: 100%;
    height: 77%;
    text-align: left;
    margin-top:1.66rem;
    font-family: MicrosoftYaHei;
    font-size: 1rem;
    color: #333333;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: left;
}
.bill_fapiao>a>div>span:nth-child(2){
	display: block;
	text-align: right;
	width: 100%;
	height: 0.916rem;
	line-height: 0.916rem;
	margin-top: 0.583rem;
	
	font-family: MicrosoftYaHei;
	font-size: 0.916rem;
	color: #999999;
	letter-spacing: 0.92px;
}
.bill_fapiao>a>input{
	width: 14rem;
    height: 2rem;
    border: 0;
    outline: medium;
    margin-left: 1rem;
    font-family: MicrosoftYaHei;
    font-size: 1rem;
    color: #999999;
    letter-spacing: 0.8px;
    text-align: left;
}
#apply_rx_li>a{
	    width: 85%;
}
#apply_rx_li span,#apply_rx_li a{
	display: block;
	float: left;
}
#apply_rx_li span{
	width: 1.541rem;
	height: 100%;
}
#apply_rx_li span>img{
	width: 1.541rem;
}

.bill_fapiao label,.bill_fapiao ul{
	float: left;
}
.apply_ul_number{
	width: 60%;
	height: 100%;
	margin-left: 2rem;
}
.apply_ul_number>li:nth-child(1),.apply_ul_number>li:nth-child(3){
		width: 2.083rem;
	height: 2.083rem;
}
.apply_ul_number>li>button{
	width: 2.083rem;
	height: 2.083rem;
	border: 0;
	outline: medium;
	background: white;
	position: relative;
	padding: 0;
	margin-top: 1.3rem;
	
}
.apply_ul_number>li>button>img{
	width: 2.083rem;
	height: 2.083rem;
	position: absolute;
	left: 0;
	top: 0;
}
.apply_ul_number>li>input{
	width: 3.333rem;
	    height: 1.8rem;
	border: 0;
	text-align: center;
	outline: medium;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}