.portait_conter{
	width: 100%;
}
.portait_conter_ol{
	width: 100%;
}
.portait_conter_ol>li{
	    width: 33%;
    height: 33%;
	border: 1px solid #FFFFFF;
}
.portait_conter_ol>li a{
	display: block;
	width: 100%;
	height: 100%;
}
.portait_conter_ol>li a img{
	width: 100%;
	height: 100%;
}
