
.search_list{
	width: 100%;
	font-family: MicrosoftYaHei;
	font-size: 1.3rem;
	color: #333333;
	letter-spacing: 0.11px;
	margin-top: 1.665rem;
	text-indent: 0.835rem;
}
.search_list_conter{
	width: 100%;

}
.search_list_conter>ul{
	width: 100%;
	margin-top: 0.83rem;
}
.search_list_conter ul li{
	height: 1.665rem;
	line-height: 1.665rem;
	margin-left: 0.835rem;
	margin-top: 1.25rem;
}
.search_list_conter ul li a{
	padding-left: 1.04rem;
	padding-right: 1.04rem;
	background: #EEEEEE;
border-radius: 100px;
color: #333;

}
.seach_history_list{
	width: 100%;
	border-top: 1px solid #EEEEEE;
}
.seach_history_list ul {
	width: 100%;
}
.seach_history_list ul li {
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
	height: 3.96rem;
}
.seach_history_list ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 0.835rem;
	font-family: MicrosoftYaHei;
	font-size: 1.083rem;
	color: #999999;
	letter-spacing: 0.11px;
	line-height: 3.96rem;
}
.seach_history_list ul li a b{
	font-weight: normal;
	color: #333333;
}
