<!DOCTYPE html>
<html ng-app="myAppLogin">

	<head>
		<script type="text/javascript">
			//IE8以及以下
			if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE6.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE7.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE8.0") {
				alert("您的浏览器版本过低，请下载最新版的浏览器（IE9（包括IE9）以上版本或者谷歌/火狐浏览器）");
				window.open("https://www.baidu.com", "_self");
			}
		</script>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Page title set in pageTitle directive -->
		<title>货易达 | 登录</title>
		<!–[if IE]>
		<script src="js/plugins/html5.js"></script>
		<![endif]–>
		<!-- Bootstrap and Fonts -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- ngDialog -->
		<link id="loadBefore" href="css/plugins/ngDialog/ngDialog.min.css" rel="stylesheet">
		<link id="loadBefore" href="css/plugins/ngDialog/ngDialog-theme-default.min.css" rel="stylesheet">
		<!-- login -->
		<link href="css/login.css" rel="stylesheet">
		<style type="text/css">
			h3 {
				font-size: 21px;
				margin-top: 0px;
			}
		</style>
	</head>

	<body ng-controller="loginController">
		<div class="box" style="background-image: url(img/timg.jpg);background-size:cover;">
			<div class="login-box">
				<div class="login-title text-center">
					<h1>
                <small>登录</small>
            </h1>
				</div>
				<div class="login-content ">
					<div class="form">
						<div class="form-group">
							<div class="col-xs-12  ">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text" ng-model="userName" id="username" name="username" class="form-control" placeholder="手机号" autofocus maxlength="20">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" ng-model="password" id="password" name="password" class="form-control" placeholder="密码" ng-keyup="myKeyup($event)" maxlength="20">
								</div>
							</div>
						</div>
						<div class="form-group">
							<style type="text/css">
								.link p {
								    line-height: 0px;
								    margin-top: 0px;
								}
							</style>
	                        <div class="col-xs-6 col-xs-offset-6 link">
	                            <p class="text-center remove-margin">
	                                <small>忘记密码？</small>
	                                <a href="javascript:void(0)" ng-click="forgetPassword()">
	                                    <small>找回</small>
	                                </a>
	                            </p>
	                        </div>
	                        <!--<div class="col-xs-6 link">
	                            <p class="text-center remove-margin">
	                                <small>还没注册?</small>
	                                <a href="javascript:void(0)">
	                                    <small>注册</small>
	                                </a>
	                            </p>
	                        </div>-->
                    	</div>
						<div class="form-group form-actions">
							<div class="col-xs-4 col-xs-offset-4 ">
								<button ng-click="login()" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-off"></span> 登录</button>
							</div>
						</div>
						<!--<div class="form-group">
	                        <div class="col-xs-6 link">
	                            <p class="text-center remove-margin">
	                                <small>忘记密码？</small>
	                                <a href="javascript:void(0)" ng-click="forgetPassword()">
	                                    <small>找回</small>
	                                </a>
	                            </p>
	                        </div>
	                        <div class="col-xs-6 link">
	                            <p class="text-center remove-margin">
	                                <small>还没注册?</small>
	                                <a href="javascript:void(0)">
	                                    <small>注册</small>
	                                </a>
	                            </p>
	                        </div>
                    	</div>-->
					</div>
				</div>
			</div>
		</div>
		

		<!-- Main Angular scripts-->
		<script src="js/angular/angular.min.js"></script>
		
		<!-- ngDialog -->
		<script src="js/plugins/ngDialog/ngDialog.min.js"></script>
		<script src="js/zhecConfig.js"></script>
		<!--ngVerify-->
		<link rel="stylesheet" href="css/ngVerify.css">
		<script src="js/ngVerify/ngVerify.js"></script>
		<!--<script type="text/javascript" src="js/config.js"></script>-->
		<!-- Main login scripts-->
		<script src="js/appLogin.js"></script>
		

	</body>

</html>