<div class="inmodal">
	<div class="modal-header">
		<h3 class="modal-title" style="font-weight: 500;">{{name1}}</h3>
	</div>
	<ul class="form-horizontal">
		<li class="list-group-item">
			<table class="table table-striped table-bordered table-hover dataTables-example marginBottom25">
				<thead>
					<tr>
						<th>修改时间</th>
						<th>修改人</th>
						<th>审核时间</th>
						<th>审核人</th>
						<th>审核结果</th>
						<th>审核回执信息</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="info in infoauditList" ng-click="passByValue(info.id)">
						<td>{{ info.addTime }}</td>
						<td>{{ info.updateName }}</td>
						<td>{{ info.optTime }}</td>
						<td>{{ info.auditName }}</td>
						<td ng-if="info.status==0">待审核</td>
						<td ng-if="info.status==1">审核成功</td>
						<td ng-if="info.status==2">审核失败</td>
						<td>{{ info.remarks }}</td>
					</tr>
				</tbody>
			</table>

			<table ng-repeat="info in priceList" ng-show="showorhide" class="table table-striped table-bordered table-hover dataTables-example marginBottom25">
				<caption style="text-align: center;">{{info.specInfo}}</caption>
				<tr>
					<th></th>
					<th ng-class="{colorRed: info.basePriceOld!=info.basePriceNew}">销售底价</th>
					<th ng-class="{colorRed: info.costPriceOld!=info.costPriceNew}">成本价</th>
					<th ng-class="{colorRed: info.salesAppPriceOld!=info.salesAppPriceNew}">APP销售价格</th>
					<th ng-class="{colorRed: info.salesWapPriceOld!=info.salesWapPriceNew}">WAP销售价格</th>
					<th ng-class="{colorRed: info.salesWebPriceOld!=info.salesWebPriceNew}">WEB销售价格</th>
					<th ng-class="{colorRed: info.weightOld!=info.weightNew}">重量</th>
					<th ng-class="{colorRed: info.stockWarningOld!=info.stockWarningNew}">库存预警值</th>
					<!--<th ng-class="{colorRed: info.virtualSalesOld!=info.virtualSalesNew}">虚拟销量</th>-->
				</tr>
				<tr>
					<td>原值</td>
					<td>{{info.basePriceOld}}</td>
					<td>{{info.costPriceOld}}</td>
					<td>{{info.salesAppPriceOld}}</td>
					<td>{{info.salesWapPriceOld}}</td>
					<td>{{info.salesWebPriceOld}}</td>
					<td>{{info.weightOld}}</td>
					<td>{{info.stockWarningOld}}</td>
					<!--<td>{{info.virtualSalesOld}}</td>-->
				</tr>
				<tr>
					<td>新值</td>
					<td>{{info.basePriceNew}}</td>
					<td>{{info.costPriceNew}}</td>
					<td>{{info.salesAppPriceNew}}</td>
					<td>{{info.salesWapPriceNew}}</td>
					<td>{{info.salesWebPriceNew}}</td>
					<td>{{info.weightNew}}</td>
					<td>{{info.stockWarningNew}}</td>
					<!--<td>{{info.virtualSalesNew}}</td>-->
				</tr>
			</table>

			<datalistpagerdialog></datalistpagerdialog>
		</li>
	</ul>

</div>