<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">

        <div class="col-lg-6">
            <div class="ibox-title">
                <div class="heading">
                    <!-- 搜索  -->
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" placeholder="按规格名称检索" class="form-control" ng-model="nameSearch">
								<span class="input-group-btn">
									<button class="btn btn-success" type="button" ng-click="loadData(true)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
								</span>
                        </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- 刷新按钮 -->
            <button type="button" class="btn btn-success pull-right"
                    ng-click="loadData(true)">
                <span class="glyphicon glyphicon-refresh"></span> 刷新
            </button>
            <!-- 添加按钮触发模态框 -->
            <button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#addForm"
                    ng-click="openModal()">
                <span class="glyphicon glyphicon-plus"></span> 添加
            </button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>属性类型</th>
                            <th>输入类型</th>
                            <th>后台显示名称</th>
                            <th>前端显示名称</th>
                            <th>状态</th>
                            <th>排序号</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="res in PropertiesList">
                            <td>{{ res.id }}</td>
                            <td ng-if="res.attrType==1">筛选属性</td>
                            <td ng-if="res.attrType==2">自定义属性</td>
                            <!--输入类型:1 单选输入、2 多选输入、3 单行输入、4 多行输入、5 数字输入、6 日期输入、7 金额输入-->
                            <td ng-if="res.inputType==1">单选输入</td>
                            <td ng-if="res.inputType==2">多选输入</td>
                            <td ng-if="res.inputType==3">单行输入</td>
                            <td ng-if="res.inputType==4">多行输入</td>
                            <td ng-if="res.inputType==5">数字输入</td>
                            <td ng-if="res.inputType==6">日期输入</td>
                            <td ng-if="res.inputType==7">金额输入</td>
                            <td>{{ res.editName }}</td>
                            <td>{{ res.viewName }}</td>
                            <td ng-if="res.status==1">正常</td>
                            <td ng-if="res.status==0">禁用</td>
                            <td>{{ res.sort }}</td>
                            <td class="action-column">
                                <button type="button" class="btn btn-warning" ng-click="openModal(res.id)">修改</button>
                                <button type="button" ng-if="res.status==1" class="btn btn-warning" ng-click="openModal(res.id,0)">禁用</button>
                                <button type="button" ng-if="res.status==0" class="btn btn-warning" ng-click="openModal(res.id,1)">启用</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast" id="toast"></div>
<datalistpager></datalistpager>

