<div class="inmodal">
  <form name='theform' style="display: none !important;">
    <input type="radio" name="myradio" value="local_name" checked=true/>上传文件名字保持本地文件名字
    <input type="radio" name="myradio" value="random_name" />上传文件名字是随机文件名
    <br/> 上传到指定目录:
    <input type="text" id="dirname" value="{{idData}}" placeholder="如果不填，默认是上传到根目录" size=50>
  </form>
  <div id="ossfile">
    你的浏览器不支持flash,Silverlight或者HTML5(请联系管理员！)
  </div>
  <br/>

  <div id="container" style="width: 100%;clear: both;">
    <a id="selectfiles" href="javascript:void(0);"><img src="../../img/plus.png" alt="" width="100"></a>
    <a id="postfiles" href="javascript:void(0);" class="btn btn-warning" style="display: none !important;">开始上传</a>
    <button id="ifSucessShow" disabled type="button" style="display: none !important;" class="btn btn-warning pull-right" ng-click="imgPathSet()" ng-hide="false">
                    <span class="glyphicon glyphicon-plus"></span> 确定
                </button>
  </div>
  <pre id="console" ng-hide="true"></pre>

</div>
