<style>
	.swiper-container-fvp {
		width: 100%;
		height: auto;
	}
</style>
<div class="swiper-container swiper-container-fvp">
	<div class="swiper-wrapper">
		<!-- 地址列表页 -->
		<div class="swiper-slide">
			<div id="needs_head">
				<ul class="head">
					<li ng-click="goBack()"><img src="img/fh.png" /></li>
					<li id="needs_xq">地址管理</li>
				</ul>
			</div>
			<div class="address_conter clearfix">
				<div class="address_conter_head">
					默认收货地址
				</div>
				<div class="orderd_head clearfix address_conter_div" ng-repeat="address in addressList" ng-if="address.isDefault==1">
					<ul class="orderd_head_ul clearfix">
						<li><span ng-bind="address.consigneeName"></span><span ng-bind="address.consigneeMobile"></span></li>
						<li><span class="address_colr"><b ng-bind="address.consigneePca"></b> <b ng-bind="address.consigneeAddress" style="word-wrap:break-word ;"></b></span></li>
						<li id="address_head_li">
							<a ng-click="detail(address.id)">
								<img src="img/bj2.png">
								<p>编辑</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="address_conter clearfix" >
				<div class="address_conter_head">
					其他收货地址
				</div>
				<div class="orderd_head clearfix address_conter_div " ng-repeat="address in addressList" ng-if="address.isDefault==0">
					<ul class="orderd_head_ul clearfix">
						<li ng-click="setDefaultAddress(address.id,address.memberId)"><span ng-bind="address.consigneeName"></span><span ng-bind="address.consigneeMobile"></span></li>
						<li ng-click="setDefaultAddress(address.id,address.memberId)"><span class="address_colr"><b ng-bind="address.consigneePca"></b> <b ng-bind="address.consigneeAddress"></b></span></li>
						<li id="address_head_li">
							<a ng-click="detail(address.id)">
								<img src="img/bj2.png">
								<p>编辑</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="addres_button">
				<button ng-click="detail(-1)">添加新地址</button>
			</div>
		</div>
		<!-- 地址编辑页 -->
		<div class="swiper-slide" >
			<div id="needs_head">
				<ul class="head">
					<li><img src="img/fh.png" ng-click="slideTo(0)" /></li>
					<li id="needs_xq">编辑地址</li>
					<li id="apply_bj" ng-if="dataEntity.id!=''&&dataEntity.id!=null&&dataEntity.id!=undefined"><a ng-click="deleteAddress(dataEntity.id)">删除</a></li>
				</ul>
			</div>
			<div class="edita_conter clearfix">
				<ul>
					<li>
						<label>收件人:</label>
					</li>
					<li>
						<input type="text" placeholder="请输入收件人姓名" ng-model="dataEntity.consigneeName" />
					</li>
				</ul>
				<ul>
					<li>
						<label>联系电话:</label>
					</li>
					<li>
						<input type="text" placeholder="请输入联系电话" ng-model="dataEntity.consigneeMobile" />
					</li>
				</ul>
				<ul>
					<li>
						<label>所在地区:</label>
					</li>
					<li>
						<input type="text" placeholder="请选择所在地区" ng-click="chooseArea()" readonly="true" ng-model="dataEntity.consigneePca" />
					</li>
					<li id="edita_li_img">
						<a class="ycenter">
							<img src="img/ljjt.png" />
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<label>详细地址:</label>
					</li>
					<li>
						<input type="text" placeholder="请输入详细地址" ng-model="dataEntity.consigneeAddress" />
					</li>
				</ul>
			</div>
			<div class="edita_button">
				<button ng-click="commit()">确认</button>
			</div>
		</div>
		<!-- 省市区选择框 -->
		<div class="swiper-slide">
			<areachoose></areachoose>
		</div>
	</div>
</div>
