
		<div class="myorder_head">
			<div class="myorder_head_sz clearfix"><a href="#/info/set">设置</a></div>
			<ul class="myorder_head_ul">
				<li>
					<a>
						<img ng-src="{{image_path}}" />
					</a>

				</li>
				<li>
					<a ng-bind="likelyName"></a>
				</li>
				<li>
					<img src="img/sj.png" alt="" />
					<span>156****7654</span>
					<a href="#/info/personinformation" id="myorder_jt"><img src="img/ljbsjt.png"></a>
				</li>
			</ul>
		</div>
		<div class="myorder_banner">
			<ul class="myorder_banner_ul">
				<li>
					<a href="#/info/collection">
						<img src="img/scj.png" />
						<p>收藏夹</p>
					</a>
				</li>
				<li>
					<a href="#/info/coupon">
						<img src="img/yhq.png" />
						<p>优惠券</p>
					</a>
				</li>
				<li>
					<a href="#/info/prescription">
						<img src="img/cfsq.png"  />
						<p>处方申请</p>
					</a>
				</li>
				<li>
					<a href="#/info/generalize">
						<img src="img/hytg.png" />
						<p>会员推广</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="myorder_conter clearfix">
			<ul class="myorder_conter_ul clearfix">
				<li>
					<a href="#/info/property">
						<ol class="myorder_conter_ul_ol">
							<li class="myorder_conter_ul_ol_li_one">
								<img src="img/wdzc.png"/>
							</li>
							<li class="myorder_conter_ul_ol_li_two">
								我的资产
							</li>
							<li class="myorder_conter_ul_ol_li_four">
								<img src="img/ljjt.png" />
							</li>
							<li class="myorder_conter_ul_ol_li_three" ng-bind="balance | number:2"></li>

						</ol>
					</a>
				</li>
				<li class="myorder_conter_ul_li">
					<a href="#/info/returnOrder">
						<ol class="myorder_conter_ul_ol">
							<li class="myorder_conter_ul_ol_li_one">
								<img src="img/thdd.png"/>
							</li>
							<li class="myorder_conter_ul_ol_li_two">
								退货订单
							</li>
							<li class="myorder_conter_ul_ol_li_four">
								<img src="img/ljjt.png" />
							</li>
						</ol>
					</a>
				</li>
				<li >
					<a ng-href="index.html#/info/address">
						<ol class="myorder_conter_ul_ol">
							<li class="myorder_conter_ul_ol_li_one">
								<img src="img/dzgl.png"/>
							</li>
							<li class="myorder_conter_ul_ol_li_two">
								地址管理
							</li>
							<li class="myorder_conter_ul_ol_li_four">
								<img src="img/ljjt.png" />
							</li>
						</ol>
					</a>
				</li>
				<li class="myorder_conter_ul_li">
					<a href="#/info/about">
						<ol class="myorder_conter_ul_ol">
							<li class="myorder_conter_ul_ol_li_one">
								<img src="img/gylys.png"/>
							</li>
							<li class="myorder_conter_ul_ol_li_two">
								关于鹿医生
							</li>
							<li class="myorder_conter_ul_ol_li_four">
								<img src="img/ljjt.png" />
							</li>
						</ol>
					</a>
				</li>
				<li >
					<a>
						<ol class="myorder_conter_ul_ol">
							<li class="myorder_conter_ul_ol_li_one">
								<img src="img/lxwm.png"/>
							</li>
							<li class="myorder_conter_ul_ol_li_two">
								联系我们
							</li>
							<li class="myorder_conter_ul_ol_li_four">
								<img src="img/ljjt.png" />
							</li>
						</ol>
					</a>
				</li>
			</ul>
		</div>
		<div class="fix_foot">
		<ol class="fix_foot_ol">
			<li>
				<a>
					<img src="img/sy2.png" />
					<p>首页</p>
				</a>
			</li>
			<li>
				<a>
					<img src="img/fl2.png" />
					<p>分类</p>
				</a>

			</li>
			<li>
				<a>
					<img src="img/gwc2.png" />
					<p>购物车</p>
				</a>
			</li>
			<li>
				<a>
					<img src="img/dd2.png" />
					<p >订单</p>
				</a>
			</li>
			<li>
				<a>
					<img src="img/wd1.png" />
					<p class="foot_color_all">我的</p>
				</a>
			</li>
		</ol>
	</div>
