<div class="myorder_head">
  <div class="myorder_header"></div>
  <div class="myorder_header_banner">
    <a href="####">您还未登录</a>
    <a href="####" class="myorder_header_banner_img">
      <img src="img/04.jg"/>
    </a>
  </div>
  <ul class="myorder_img">
    <li>
      <a href="#/main/orders?orderState=0">
        <img src="img/04.jpg"/>

        <p>全部</p>
      </a>
    </li>
    <li>
      <a href="#/main/orders?orderState=1">
        <img src="img/04.jpg"/>

        <p>待付款</p>
      </a>
    </li>
    <li>
      <a href="#/main/orders?orderState=3">
        <img src="img/04.jpg"/>

        <p>待收货</p>
      </a>
    </li>
    <li>
      <a href="/#orders">
        <img src="img/04.jpg"/>

        <p>已完成</p>
      </a>
    </li>

  </ul>
</div>
<div class="myorder_ul clearfix">
  <ul>
    <li>
      <a href="#/main/orders?orderState=0">
        <ol>
          <li class="myorder_log_img">
            <img src="img/icon2.png"/>
          </li>
          <li class="myorder_ul_label">
            我的订单
          </li>
          <li class="myorder_rig_log">
            <img src="img/APP-phone.png"/>
          </li>
          <li class="myorder_ul_rig_lab">
            查看全部订单
          </li>
        </ol>
      </a>
    </li>
    <li class="myorder_ul_ol_li">
      <a href="####">
        <ol>
          <li class="myorder_log_img">
            <img src="img/icon2.png"/>
          </li>
          <li class="myorder_ul_label">
            我的余额
          </li>
          <li class="myorder_ul_pay">
            ￥0.00
          </li>
          <li class="myorder_rig_log">
            <img src="img/APP-phone.png"/>
          </li>
          <li class="myorder_ul_rig_lab">
            充值
          </li>

        </ol>
      </a>
    </li>
    <li>
      <a href="####">
        <ol>
          <li class="myorder_log_img">
            <img src="img/icon2.png"/>
          </li>
          <li class="myorder_ul_label">
            收藏夹
          </li>

          <li class="myorder_rig_log">
            <img src="img/APP-phone.png"/>
          </li>
        </ol>
      </a>
    </li>
    <li>
      <a href="####">
        <ol>
          <li class="myorder_log_img">
            <img src="img/icon2.png"/>
          </li>
          <li class="myorder_ul_label">
            地址管理
          </li>
          <li class="myorder_rig_log">
            <img src="img/APP-phone.png"/>
          </li>
        </ol>
      </a>
    </li>
    <li>
      <a href="####">
        <ol>
          <li class="myorder_log_img">
            <img src="img/icon2.png"/>
          </li>
          <li class="myorder_ul_label">
            设置
          </li>
          <li class="myorder_rig_log">
            <img src="img/APP-phone.png"/>
          </li>
        </ol>
      </a>
    </li>
    <li>
      <a href="####">
        <ol>
          <li class="myorder_log_img">
            <img src="img/icon2.png"/>
          </li>
          <li class="myorder_ul_label">
            安全设置
          </li>
          <li class="myorder_rig_log">
            <img src="img/APP-phone.png"/>
          </li>
        </ol>
      </a>
    </li>
  </ul>
</div>

