<div  id="needs_head">
	<ul class="head">
		<li onclick="history.go(-1)"><img src="img/fh.png"  /></li>
		<li id="needs_xq">处方申请</li>
	</ul>
</div>
<div class="cart_img" ng-show="prescriptionList.length==0">
		<div class="coupon_img_conter">
			<span class="xcenter">
						<img src="../../img/wsc.png" />
					</span>
			<p>您还没有申请处方</p>
		</div>
	</div>
<div class="rxapply_conter clearfix" ng-repeat="list in prescriptionList track by $index">
	<div class="apply_head_div ">
		<label>创建时间：<span  ng-bind="list.orderTime"></span></label>
		<span>
			<b ng-if="list.status==0">正在审批</b>
			<b ng-if="list.status==1">审批通过</b>
			<b ng-if="list.status==2">审批未通过</b>
		</span>
	</div>
	<div class="rxapply_head apply_head ycenter">
		<a ui-sref="info.proption({id:list.id})">
			<img ng-src="{{list.goodsImageUrl}}" alt=""/>
		</a>
		<ol class="clearfix">
			<li class="prescripiton_a_rx">
				<a ui-sref="info.proption({id:list.id})" class="words" >
					<b ng-if="list.goodsType==1"><img  src="img/rxpc.png" alt="" /></b>
					
				</a>
			</li>
			<li>
				<a ui-sref="info.proption({id:list.id})"><b ng-bind="list.goodsName"></b></a>
			</li>
			<li class="apply_head_li_two" ng-bind="list.specInfo"></li>
			<li  class="apply_head_li_three">
				<b ng-bind="list.goodsPrice | priceFormatFilter"></b>
				<span><b ng-bind="'x'+list.productNumber"></b></span>
			</li>
		</ol>
	</div>
</div>
<div ng-show="scrollFoot"><img src="../../img/fdddb.png" alt=""></div>
<div ng-show='loadding'  class="all_lode_img"><img src="../../img/loadding.gif" alt="" /></div>
