
		<div  id="needs_head">
			<ul class="head">
				<li ><a href="#/main/mine"><img src="img/fh.png"  /></a></li>
				<li id="needs_xq">退货订单</li>
			</ul>
		</div>
    <div class="rxapply_conter clearfix" ng-repeat="order in orderLists" ng-show="orderListPlay">
      <div class="apply_head_div ">
        <label>创建时间：<span ng-bind="order.createTime"></span></label>
        <span>{{returnOrderStatues(order.orderStatus)}}{{sentenceStatus}}</span>
      </div>
      <div class="rxapply_head apply_head ycenter">
        <a ui-sref="info.goods({id:{{order.goodsId}}})">
          <img ng-src="{{order.goodsImage}}" alt=""/>
        </a>
        <ol class="clearfix">
			<li class="prescripiton_a_rx">
				<img src="img/prescription.png" ng-if="order.goodsType==1">
			</li>
          <li>
            <a ui-sref="info.goods({id:{{order.goodsId}}})" class="words" ng-bind="order.goodsName"></a>
          </li>
          <li class="apply_head_li_two" ng-bind="order.productSpecInfo"></li>
          <li  class="apply_head_li_three">
            <b ng-bind="order.productPrice |priceFormatFilter:2"></b>
            <span ng-bind="order.productNum">x2</span>
            <span>x</span>
          </li>
        </ol>
      </div>
      <div class="app_det_button ">
        <button ng-if="order.orderStatus<3" ng-click="cancleApply(order.refundOrderId)">取消申请</button>
        <a class="return_button" href="#/info/returndetail?memberId={{memberId}}&orderId={{order.refundOrderId}}">服务详情</a>
      </div>
    </div>
	<div class="cart_img" ng-hide="orderListPlay">
		<div class="coupon_img_conter">
			<span class="xcenter">
						<img src="../../img/wsc.png" />
					</span>
			<p>退货订单是空的</p>
		</div>
	</div>
