<ul ng-controller="centerController" class="right_goods_head">
  <li class="recent_goods">
    <ul class="recent_goods_personal">
      <li>近期订单：</li>
    </ul>
  </li>

  <li class="goods_listorder">
    <ol class="prsonal_list_ol">
      <li>商品名称</li>
      <li>单价（元）</li>
      <li>数量</li>
      <li>实付款</li>
      <li>交易状态</li>
      <li>交易操作</li>
    </ol>
  </li>
  <div class="show_orders" ng-if="orderState!=3">
    <ul>
      <!--allorers是拿到的所有总订单，orderList是每一个总订单-->
      <li ng-repeat="orderList in allOrders" class="one_order">
        <ul>
          <!--list 是每一个总订单的自订单-->
          <div class="orders_dd_header clearfix">
            <div class="orders_time">
              <span>订单号：<b ng-bind="orderList.orderSn"></b></span>
              <span ng-bind="orderList.createTime"></span>
           	  <span ng-if="orderList.shiped == true&&orderList.orderStatus!=2">
            	<a href="javascript:void(0);" ng-click="cancleOrder(orderList.id,orderList.memberId)">取消订单</a>
              </span>
              <i ng-bind="orderList.promotionType2"></i>
              <i ng-bind="orderList.promotionType3"></i>
            </div>
          </div>
          <li class="clearfix treat_money_order" ng-repeat="list in orderList.ordersSub track by $index">
            <!--ng-class="{treat_money_order_orli_margin:orderList.margin_botton}"-->
            <ol class="clearfix">
              <li class="order_fist_border">订单号：<b ng-bind="list.orderSn"></b><span ng-bind="list.createTime"></span>
              </li>
              <li class="treat_money_more clearfix">
                <ul ng-repeat="good in list.ordersProduct track by $index" class="treat_money_more_ul clearfix">
                  <li>
                    <a href="goods.html?id={{good.goodsId}}"  target="_blank"><img lazy-src="{{good.masterImg}}"/></a>
                  </li>
                  <li>
                    <span ng-if="good.goodsType==1"><img src="images/prescription.png"></span>
                    <a href="goods.html?id={{good.goodsId}}" ng-bind="good.goodsName" target="_blank"></a>
                    <p ng-bind="good.productSpecInfo"></p>
                  </li>
                  <li>￥<span ng-bind="good.salesPrice | number:2"></span></li>
                  <li>
                    <span ng-bind="good.productNumber"></span>
                  </li>
                  <li
                    ng-if="list.orderStatus==4&&good.returnType==1&&list.allowRefund==1&&good.refundingNumber<good.productNumber"
                    id="personal_sh">
                    <a
                      href="afterSales.html?memberId={{memberId}}&orderId={{list.id}}&productId={{good.productId}}&goodsId={{good.goodsId}}" target="_blank">申请售后</a>
                  </li>
                </ul>
                <ol class="clearfix treat_money_pay">
                  <li id="orders_money">￥<span ng-bind="list.moneyOrder | number:2"></span></li>
                  <li>
                    <p>{{showStatus(list.orderStatus)}}</p>
                    <p><a href="orderDetail.html?orderId={{list.id}}" target="view_window">查看订单</a></p>
                  </li>
                  <li id="ngdifstatus">
                    <button class="btnblue" ng-if="2<list.orderStatus&&list.orderStatus<4"
                            ng-click="confirmOrder(list.id,list.orderSn,list.orderStatus,memberId,memberLoginId)">
                      确认收货
                    </button>
                    <button class="small_button_org" ng-if="list.orderStatus>0&&list.buyagain==true"
                            ng-click="addOrderToCar(list.ordersProduct)">
                      再次购买
                    </button>
                    <p ng-if="!orderList.promotionType2&&!orderList.promotionType3 && list.orderStatus<3 && orderList.payStatus != 2"><a href="javascript:void(0);" ng-click="cancleDialog(list.id,list.orderSn,list.orderStatus,memberId,memberLoginId,orderList.payStatus)">取消订单</a>
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <div class="orders_pay">
            <span>订单金额：<b ng-bind="orderList.moneyOrder | number:2"></b></span>
            <!--<span>支付方式：在线支付</span>-->
            <span>物流费用：<b ng-bind="orderList.moneyLogistics | number:2"></b></span>
            <span ng-if="orderList.length>1">订单已拆分</span>
              <span ng-if="orderList.payStatus==0&&orderList.orderStatus==1&&orderList.immidiateBuy==true">
              	  <a href="payMoney.html?orderId={{orderList.id}}&&memberId={{orderList.memberId}}" target="_blank">
                    <button class="btnyellow" ng-show="orderList.payStatus==0" style="float: right">立即付款</button>
                  </a>
              </span>
            <span ng-if="orderList.orderStatus==3 && orderList.payStatus==1" class="have_pay">已付款</span>
            <span ng-if="orderList.payStatus==2&&orderList.continueBuy==true">
              <a href="payMoney.html?orderId={{orderList.id}}&&memberId={{orderList.memberId}}" target="_blank"><button class="btnyellow"  style="float: right">继续付款</button></a>
          </span>
          </div>
        </ul>
      </li>
    </ul>
  </div>

  <li class="order_kong" ng-if="total_size==0">
    <img src="images/emptyOrder.png"/>

    <p>
      <span>您还没有任何订单</span>
      <span><a href="index.html" target="_blank">去购物></a></span>
    </p>
  </li>
</ul>

