<ul class="right_goods_head">
	<li class="recent_goods">
		<ul class="recent_goods_personal">
			<li>退货订单：</li>
		</ul>
	</li>

	<li class="goods_listorder goods_lsit_mar">
		<ol class="prsonal_list_ol">
			<li>商品名称</li>
			<li>单价（元）</li>
			<li>数量</li>
			<li>退款金额</li>
			<li>退单状态</li>
			<li>交易操作</li>
		</ol>
	</li>

	<li class="clearfix treat_money_returnorder_orli" ng-repeat="list in orderLists track by $index">
		<ol class="clearfix">
			<li class="returnorder_fist_border"> 退货单号：<b ng-bind="list.orderRefundSn"></b> &nbsp; &nbsp; 订单编号：<b ng-bind="list.orderSn"></b><span ng-bind="list.createTime">申请时间：</span>
			</li>
			<li class="treat_money_more clearfix">
				<ul class="treat_money_more_ul clearfix">
					<li>
						<a href="goods.html?id={{list.goodsId}}" target="_blank"><img lazy-src="{{list.goodsImage}}" /></a>
					</li>
					<li>
            <span ng-if="list.goodsType==1"><img src="images/prescription.png"></span>
						<a href="goods.html?id={{list.goodsId}}" ng-bind="list.goodsName" target="_blank"></a>
            <p ng-bind="list.productSpecInfo"></p>
					</li>
					<li>￥<span ng-bind="list.productPrice | number:2"></span></li>
					<li ng-bind="list.productNum"></li>
				</ul>
				<ol class="clearfix treat_money_pay">
					<li>￥<span ng-bind="list.moneyRefund | number:2"></span></li>
					<li>
						<p>{{returnOrderStatues(list.orderStatus)}}{{sentenceStatus}}</p>

					</li>
					<li id="ngdifstatus3">

						<a href="returnOrderDetail.html?memberId={{memberId}}&orderId={{list.refundOrderId}}" target="_blank">服务详情</a><br/>
						<button class="cancle_apply" ng-if="list.orderStatus<3" ng-click="cancleApply(list.refundOrderId)">取消申请</button>
					</li>
				</ol>
			</li>
		</ol>
	</li>
  	<li ng-if="order_totalSize==0" class="order_kong">
    	<img src="images/emptyOrder.png"/>
    	  <p>
  	<span>您还没有任何订单</span>
  	<span><a href="index.html" target="_blank">去购物></a></span>
  </p>
	</li>
</ul>
<datalistpager></datalistpager>
