<style type="text/css">
	.ngdialog-theme-default{
		margin-top: 100px;
	}
</style>

<div class="inmodal">
    <div class="modal-header">
        <h1 class="modal-title">修改密码</h1>
    </div>
    <div class="" name="myform" verify-scope="tipStyle: 1">
        <ul class="form-horizontal">
            <li class="list-group-item">  
            	<div class="form-group">
					<input class="col-sm-9 form-control" ng-model="mobile" ng-verify="{required: true,pattern:/^[1][3,4,5,7,8][0-9]{9}$/}" type="text" placeholder="请输入手机号" />
                    <div class="col-sm-12 " style="margin-top:10px;">
                        <button type="button"  class="btn btn-warning col-sm-3 pull-right" ng-disabled="paraclass==false" ng-click="ifmobile()">
			                <span class="glyphicon glyphicon"></span> {{btnMessage}}
			            </button>
                    </div>
               </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">新密码：</label>

                    <div class="col-sm-9">
                    	
                        <input type="password" name="password2" class="form-control" ng-verify="{required:true,min:6,max:12}" ng-model="password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">再次输入密码：</label>
                    <div class="col-sm-9">
                        <input type="password" ng-verify="{recheck:'password2'}" class="form-control"  ng-model="newPwd">
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-sm-3 control-label">请输入验证码：</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" ng-verify="{required:true,min:4,max:6}"
                               ng-model="code">
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="updatePassword()" ng-verify="{control:'myform'}">
                <span class="glyphicon glyphicon-floppy-disk"></span> 保存
            </button>
            <button type="button" class="btn btn-success" ng-click="cancelModal()">
                <span class="glyphicon glyphicon-share-alt"></span> 取消
            </button>
        </div>
    </div>
</div>

