<div class="row wrapper border-bottom white-bg page-heading">
	<div class="ibox-title col-lg-12" style="height: 50px">
		<div class="heading">
			<!-- 搜索  -->
			<div class="col-sm-12">
				<div class="form-group col-md-2" id="version_div">
					<div>
						<button class="btn btn-success" ng-click="changeLabel()">
							<span class="glyphicon glyphicon-search"></span> <b ng-bind="clickLabel"></b>
						</button>
					</div>
				</div>

				<button class="btn btn-success" type="button" ng-click="openUpdateModal()">
                                <span class="glyphicon glyphicon-search"></span> 上传新版本
                            </button>


				<button type="button" class="btn btn-success pull-right" style="margin-top: 0px;" ng-click="loadData(true)">
				                <span class="glyphicon glyphicon-refresh"></span> 刷新
				            </button>
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>版本id</th>
								<th>版本名</th>
								<th>版本号</th>
								<th>上传时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="version in VersionList">
								<td ng-bind="version.id"></td>
								<td ng-bind="version.versionName"></td>
								<td ng-bind="version.versionCode"></td>
								<td ng-bind="version.upTime"></td>
								<td class="action-column">


									<button type="button" class="btn btn-warning" data-toggle="modal" ng-click="openDetailModal(version.id)">
	                                    <spanaria-hidden="true">详情</span>
	                                </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<datalistpager></datalistpager>
