<style type="text/css">
	.ngdialog-theme-default{
		margin-top: 100px;
	}
</style>
<div class="inmodal">
    <div class="modal-header">
        <h1 class="modal-title">修改密码</h1>
    </div>
    <div class="" name="myform" verify-scope="tipStyle: 1">
        <ul class="form-horizontal">
            <li class="list-group-item">                
                <div class="form-group">
                    <label class="col-sm-3 control-label">原密码：</label>

                    <div class="col-sm-9">
                        <input ng-verify="{required:true,min:5,max:15}" type="password" class="form-control"
                               ng-model="oldPwd">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">新密码：</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" ng-verify="{required:true,min:5,max:15}"
                               ng-model="newPwdFirst">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">再次输入：</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" ng-verify="{required:true,min:5,max:15}"
                               ng-model="newPwd">
                        <span ng-hide="newPwd==newPwdFirst||newPwd==''||newPwd==null||newPwd==undefined" style="color: red;">两次输入不一致!</span>
                    </div>
                </div>

            </li>
        </ul>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="updatePassword()" ng-verify="{control:'myform'}">
                <span class="glyphicon glyphicon-floppy-disk"></span> 保存
            </button>
            <button type="button" class="btn btn-success" ng-click="cancelModal()">
                <span class="glyphicon glyphicon-share-alt"></span> 取消
            </button>
        </div>
    </div>

</div>

