html,
body {
	margin: 0;
	padding: 0;
}

.iw_poi_title {
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap
}

.iw_poi_content {
	font: 12px arial, sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
}

.container_baidu_map {
	width: 697px;
	height: 550px;
	border: #ccc solid 1px;
}

.control_div {
	width: 220px;
	height: 200px;
	border: #ccc solid 1px;
	background-color: rgba(22,2,2,.5);
}


/*隐藏百度logo*/
.BMap_cpyCtrl {
	display: none;
}

.anchorBL {
	display: none;
}