<body>
	<div id="needs_head">
		<ul class="head">
			<li><img src="img/fh.png" ng-click="goBack()" /></li>
			<li id="needs_xq">{{article.title}}</li>
		</ul>
	</div>
	<div class="problem_conter clearfix">
		<div class="problem_conter_all clearfix">
			<div class="problem_conter_head">
				<!-- {{article.title}} -->
			</div>
			<div class="problem_conter_content clearfix">
				<span id="clearfix" class="articalContent"></span>
				<!-- <span class="clearfix">	作为网上药店领导者，1药网秉承“用心选药，便民可信，为民省钱”的经营理念，先后与拜耳、辉瑞、杜蕾斯、诺华、惠氏、强生、养生堂、同仁堂、云南白药、海昌等国内外数百家知名医药健康产品厂商合作，为全国消费者提供《互联网药品交易许可证》允许交易范围内的万余种医药健康产品，涵盖了市面上常见的中西药、营养保健品、医疗器械、成人保健品、隐形眼镜、美容护理、孕婴用品、参茸细品等多个品类。</span> -->
			</div>
		</div>
		<!-- <div class="problem_conter_all clearfix">
				<div class="problem_conter_head">
					购物流程
				</div>
				<div class="problem_conter_content clearfix">
					<span class="clearfix">	作为网上药店领导者，1药网秉承“用心选药，便民可信，为民省钱”的经营理念，先后与拜耳、辉瑞、杜蕾斯、诺华、惠氏、强生、养生堂、同仁堂、云南白药、海昌等国内外数百家知名医药健康产品厂商合作，为全国消费者提供《互联网药品交易许可证》允许交易范围内的万余种医药健康产品，涵盖了市面上常见的中西药、营养保健品、医疗器械、成人保健品、隐形眼镜、美容护理、孕婴用品、参茸细品等多个品类。</span>
					<span class="clearfix">	作为网上药店领导者，1药网秉承“用心选药，便民可信，为民省钱”的经营理念，先后与拜耳、辉瑞、杜蕾斯、诺华、惠氏、强生、养生堂、同仁堂、云南白药、海昌等国内外数百家知名医药健康产品厂商合作，为全国消费者提供《互联网药品交易许可证》允许交易范围内的万余种医药健康产品，涵盖了市面上常见的中西药、营养保健品、医疗器械、成人保健品、隐形眼镜、美容护理、孕婴用品、参茸细品等多个品类。</span>
				</div>
			</div> -->

	</div>
</body>

</html>
