<!DOCTYPE html>
<html ng-app="registerApp" ng-controller="registerController">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/common/zhecConfig.js"></script>
		<script language="javascript">
			if(/lys613.oss-cn-beijing.aliyuncs.com/g.test(publicUrlMall)){
				
			}else{
				var strDelete = publicUrlMall.split("/mall");
				publicUrlMall = strDelete[0] + strDelete[1];
			}
			document.write("<link rel=\"shortcut icon\" type=\"image/ico\" href="+publicUrlMall+"favicon.ico>");
			document.write("<link rel=\"stylesheet\" href="+publicUrlMall+"stylesheets/screen.css>");
			document.write("<link rel=\"stylesheet\" href="+publicUrlMall+"stylesheets/register.css>");
			document.write("<link rel=\"stylesheet\" href="+publicUrlMall+"stylesheets/plugins/ngDialog/ngDialog.min.css>");
			document.write("<link rel=\"stylesheet\" href="+publicUrlMall+"stylesheets/plugins/ngDialog/ngDialog-theme-default.min.css>");
			document.write("<link rel=\"stylesheet\" href="+publicUrlMall+"stylesheets/plugins/ngVerify/ngVerify.css>");
			
			document.write("<script src="+publicUrlMall+"js/plugins/jquery/dist/jquery.min.js><\/script>");
			document.write("<script src="+publicUrlMall+"js/plugins/angular/angular.min.js><\/script>");
			
			document.write("<script src="+publicUrlMall+"js/plugins/ngDialog/ngDialog.min.js><\/script>");
			document.write("<script src="+publicUrlMall+"js/plugins/ngVerify/ngVerify.js><\/script>");
			document.write("<script src="+publicUrlMall+"js/common/cookie.js><\/script>");
			document.write("<script src="+publicUrlMall+"js/common/zhec.js><\/script>");
			document.write("<script src="+publicUrlMall+"js/common/Piwik.js><\/script>");
			
			document.write("<script src="+publicUrlMall+"js/register/appConfig.js><\/script>");
			document.write("<script src="+publicUrlMall+"js/register/appRegister.js><\/script>");
			
		</script>
	<!--<link rel="shortcut icon" type="image/ico" href="/favicon.ico">-->
	<!--<link rel="stylesheet" href="stylesheets/screen.css" />-->
	<!--<link rel="stylesheet" href="stylesheets/register.css" />-->
	<!-- ngVerify -->
	<!--<link rel="stylesheet" href="stylesheets/plugins/ngVerify/ngVerify.css">-->
	<!-- ngDialog -->
		<!--<link href="stylesheets/plugins/ngDialog/ngDialog.min.css" rel="stylesheet">-->
		<!--<link href="stylesheets/plugins/ngDialog/ngDialog-theme-default.min.css" rel="stylesheet">-->	
	<title ng-bind="titleManage"></title>
		<!--<script type="text/javascript" src="js/common/zhecConfig.js"></script>-->
		<!--<script src="js/common/cookie.js" type="text/javascript" charset="utf-8"></script>-->
		<!-- Piwik -->
		<!--<script src="js/common/Piwik.js" type="text/javascript" charset="utf-8"></script>-->
		<!-- End Piwik Code -->
</head>
<body >
	<div class="head_logreg">
		<div class="header_logreg">
			<div class="head_log_logreg">
				<i onclick="javascript:self.location='index.html'"><img src="images/u1884.png"></i>
			</div>
		</div>
	</div>
	<div class="conter_logreg" name="myform" verify-scope="tipStyle: 1">
			<div class="conter_br"></div>
		<div class="conter_div">

			<div class="conter_head">
				<ul class="conter_head_ul">
					<li>用户注册</li>
					<li class="conter_head_ul_a"><a href="login.html">登录</a></li>
					<li></li>
				</ul>
			</div>
			<ul class="conter_con_ul" >
				<li class="conter_con_ul_li_one">
					<ul class="conter_con_ul_input">
						<li>
							<div class="conter_input_div">
								<i></i>
							</div>
						</li>
						<li>
							<input ng-blur="ifmobile()" id="userPhone" ng-verify="pattern:/^[1][3,4,5,7,8][0-9]{9}$/" type="text" ng-model="userPhone"  placeholder="请输入手机号">
						</li>
					</ul>
				</li>
				
				<li class="conter_con_ul_li_one">
					<ul class="conter_con_ul_input">
						<li>
							<div class="conter_input_div">
								<i></i>
							</div>
						</li>
						<li id="conter_con_ul_input_one">
							<input  id="wrongMessage" ng-verify ng-model="phoneCode" type="text" maxlength="6" onchange="this.value=this.value.substring(0, 6)"  placeholder="短信验证码">
						</li>
						<li id="conter_con_ul_input_li">
							<button ng-class="{true: 'notallowClick', false: 'allowClick'}[paraclass == false]" ng-disabled="paraclass == false && okModalDisabled" ng-click="getPhoneCode()" id="clickBtn"  ng-bind="btnMessage"></button>
						</li>
					</ul>
				</li>
				<li class="conter_con_ul_li_one">
					<ul class="conter_con_ul_input">
						<li>
							<div class="conter_input_div">
								<i></i>
							</div>
						</li>
						<li>
							<input type="password" autocomplete ="" name="userPassword" ng-model="userPassword" ng-verify="{required: true,min:6,max:12}" placeholder="输入密码">
						</li>

					</ul>
				</li>
				<li class="conter_con_ul_li_one">
					<ul class="conter_con_ul_input">
						<li>
							<div class="conter_input_div">
								<i></i>
							</div>
						</li>
						<li>
							<input type="password" ng-model="confirmParssword" ng-verify="{recheck:'userPassword',min:6,max:12,errmsg:'两次密码输入不一致'}"  placeholder="再次输入密码">
						</li>
					</ul>
				</li>
			</ul>
			<div class="conter_btn" ng-verify="{control:'myform'}">
				<button ng-class="{true: 'notallowClick', false: 'allowClick'}[checks == false]" ng-disabled="checks==false" ng-click="registerMember()">注&nbsp;&nbsp;册</button>
			</div>
			<div class="conter_radio" >
				<label ng-click="clickcheck()"><input  type="checkbox" ng-checked="clickBox" value="checkbox" ng-model="checkes"><span><a href="####">《众会注册协议》</a></span></label>
			</div>
		</div>
	</div>
	<div class="foot-bottom_logreg">
		<div class="footer_first_logreg">
			<ul class="footer_ul_logreg">
				<li>互联网药品信息服务资格证书:（京）-非经营性-2014-0014</li>
				<li>2000-2016 北京众会技术有限公司版权所有</li>
			</ul>
		</div>
	</div>
</body>

</html>

</body>
<!--<script src="js/plugins/angular/angular.min.js"></script>-->
<!--<script src="js/register/appConfig.js"></script>-->
<!-- ngVerify -->
<!--<script src="js/plugins/ngVerify/ngVerify.js"></script>-->
<!--<script src="js/register/appRegister.js"></script>
<script src="js/plugins/ngDialog/ngDialog.min.js"></script>-->
</html>
